html,body,article {
  min-height: 100vh;
  margin: 0;
}

:root {
  --foreground-color: #24292e;
  --background-color: #f6f8fa;
  --border-color: #d1d5da;
}

body {
  --secondary-background-color: #f6f8fa;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  height: 100%;
  background-color: #e2e0de;
  font-weight: 400;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* max-width: 70rem; */
  margin-left: auto;
  margin-right: auto;
}

[data-theme="dark"] {
  --foreground-color: #c9d1d9;
  --background-color: #0d1117;
  --border-color: #30363d;
  --secondary-background-color: #181a1b;
}
body {
  background-color: var(--secondary-background-color);
}

#paginator .page-number,
.space,
.prev {
  padding-right: 0.5em;
}